---
interface Props {
	title: string;
	subtitle: string;
	href: string;
	d1: string,
	d2?: string
}

const { href, title, subtitle, d1, d2 } = Astro.props;
---


<div class="w-full lg:w-9/12 p-6 bg-white border-2 border-black shadow-card">
	<div class="flex justify-start items-center gap-2">
		<svg class="w-7 h-7 text-black mb-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
			<path d={d1}/>
			<path d={d2}/>
		</svg>		
		<a href={href}>
			<h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900">{title}</h5>
		</a>
	</div>
    <div class="flex flex-col lg:flex-row lg:justify-between lg:items-center mt-1">
		<p class="font-normal text-gray-600">{subtitle}</p>
    <a href="#" class="inline-flex justify-center mt-2 lg:justify-end lg:mt-0 font-medium items-center text-primary hover:underline">
        ver más aquí
        <svg class="w-3 h-3 ms-2.5 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
			<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 9h12M12 6l3 3-3 3"/>
		</svg>
		
    </a>
	</div>
</div>

<style>
	.shadow-card {
		box-shadow: 4px 4px black;

	}
</style>