---
interface Props{
    src: string,
    title: string,
    subtitle: string,
    linkRepo: string,
    linkDeploy: string,
}


const {src, title, subtitle, linkRepo, linkDeploy} = Astro.props;
import {fade } from 'astro:transitions';
---

<div ransition:animate={fade({duration: '0.6s'} )}  class="w-11/12 bg-white border-2 border-black shadow-card" ">
        <img src={src} alt="PROYECTO" />
    <div class="p-5">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{title}</h5>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{subtitle}</p>
        <div class="flex flex-col w-full justify-between gap-2">
            <a href={linkRepo} class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg
            bg-[#a04747] hover:bg-[#8f3f3f]/100 focus:ring-4 focus:outline-none focus:ring-[#8f3f3f]/80 dark:hover:bg-[#8f3f3f]/100 dark:focus:ring-[#8f3f3f]/80 ">
                Repositorio
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
            <a href={linkDeploy} class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white
            bg-black rounded-lg hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-600 dark:bg-black dark:hover:bg-gray-800 dark:focus:bg-gray-800">
                Preview
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
    </div>
</div>

<style>
    .shadow-card {
        box-shadow: 4px 4px black;

    }
</style>
